*{
  margin: 0px;
  padding: 0px;
}
body{

  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJbFiDMvBh4iPTDqQ8u9xs78IKRNyOcPdXqz0iKFJ9npeJYuGQ);
  background-repeat: no-repeat;
  background-size: cover;

}

.header{
  color: white;
  font-weight: 150;
  font-size: 40px;
  text-align: center;
  text-decoration-color: white;
  background-color: #211545;
  text-decoration: none;
  font-family: courier;
  margin-top:20px;
}

.subheader{
  color: white;
  font-weight: 150;
  font-size: 30px;
  text-align: center;
  text-decoration-color: white;
  background-color: #211545;
  text-decoration: none;
  font-family: courier;
  margin-top:10px;
  margin-bottom: 20px;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;

}

.container .card1{
    width: 330px;
    height: 100px;
    border-radius: 8px;
    box-shadow:  2px 6px 8px #666;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 10px;
    transition: all 0.25s;
}

.container .card2{
    width: 330px;
    height: 100px;
    border-radius: 8px;
    box-shadow:  2px 6px 8px #666;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 10px;
    transition: all 0.25s;
}

.container .card1 img{
  height:100px;
  width: 330px;
}

.container .card2 img{
  height:100px;
  width: 330px;
}

.footer{
  margin-top: 10px;
  }
img{
  height: 40px;
}
