*{
  margin: 0px;
  padding: 0px;
}
body{

  background-color: #E9FAE1;

}

.header{
  color: white;
  font-weight: 150;
  font-size: 40px;
  text-align: center;
  text-decoration-color: white;
  background-color: #211545;
  text-decoration: none;
  font-family: courier;
  margin-top:20px;
}

.subheader{
  color: white;
  font-weight: 150;
  font-size: 30px;
  text-align: center;
  text-decoration-color: white;
  background-color: #211545;
  text-decoration: none;
  font-family: courier;
  margin-top:20px;
  margin-bottom: 20px;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 700px;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;


}
.container .card1{
    width: 400px;
    height: 800px;
    border-radius: 8px;
    box-shadow:  2px 6px 8px #666;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 10px;
    transition: all 0.25s;

}
.container .card1 img{
  height:200px;
  width: 400px;
}
.container .card1 p{
  font-size: 18px;
  font-style: normal;
  margin-top: 15px;
  margin-left: 8px;
}

.container .footer{
  margin-top:80px;
}
button{
  height:40px;
  width:30px;
}
