*{
  margin: 0px;
  padding: 0px;
}
body{
  background:#ffffff;
}


.header{
  color: white;
  font-weight: 150;
  font-size: 60px;
  text-align: center;
  text-decoration-color: white;
  background-color: #211545;
  text-decoration: none;
  font-family: Georgia;
  margin-top:20px;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;

}
.container .card6{
    width: 500px;
    height: 170px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: all 0.25s;
}

.container .card6 img{
  height:auto;
  max-width: 100%;
}

.container .card4{
    width: 330px;
    height: 100px;
    border-radius: 8px;
    box-shadow:  2px 6px 8px #666;
    overflow: hidden;
    margin:20px;
    margin-bottom: 10px;
    background-color: #E848F8;
    text-align: center;
    transition: all 0.25s;
}

.container .card4 h3{
    font-size: 25px;
    margin:35px;
}
.container .card1{
    width: 330px;
    height: 100px;
    border-radius: 8px;
    box-shadow:  2px 6px 8px #666;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 10px;
    background-color: #2261E6;
    text-align: center;
    transition: all 0.25s;
}

.container .card1 h3{
    font-size: 25px;
    margin:35px;


}


.container .card2{
    width: 330px;
    height: 100px;
    border-radius: 8px;
    box-shadow:  2px 6px 8px #666;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 10px;
    background-color: #F47E36;
    text-align: center;
    transition: all 0.25s;
}

.container .card2 h3{
    font-size: 25px;
    margin:35px;

}


.container .card3{
    width: 330px;
    height: 100px;
    border-radius: 8px;
    box-shadow:  2px 6px 8px #666;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 10px;
    background-color: #219528;
    text-align: center;
    transition: all 0.25s;
}

.container .card3 h3{
    font-size: 25px;
    margin:35px;
}

.container .card5{
    width: 330px;
    height: 100px;
    border-radius: 8px;
    box-shadow:  2px 6px 8px #666;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 30px;
    background-color: #FE2F5B;
    text-align: center;
    transition: all 0.25s;
}

.container .card5 h3{
    font-size: 25px;
    margin:35px;
}
a{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.footer{
  margin-top: 10px;
  }
img{
  height: 40px;
}
